@import './_layout';

#contact-container {
  .block .row { 
    margin: 10px 0; 
    & > .col-md-2 {
      font-weight: bold;
      text-align: right;
      @media (max-width:767px) { 
        text-align: left; 
      }
    }
  }
}
