<div class="brand"><a href="{{baseUrl}}">IMS Lab</a></div>
<div class="brand">Intelligent Mobile Service Laboratory | 智慧化行動服務實驗室</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{baseUrl}}"><img alt="imslab" src="{{baseUrl}}images/logo.png"> IMS Lab</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li {{#if menu_home}} class="active" {{/if}}><a href="{{baseUrl}}">首頁 {{#if menu_home}} <span class="sr-only">(current)</span> {{/if}}</a></li>
        <li {{#if menu_research}} class="active" {{/if}}><a href="{{baseUrl}}research">研究 {{#if menu_research}} <span class="sr-only">(current)</span> {{/if}}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle {{#if menu_member}} active {{/if}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">成員 <span class="caret"></span>{{#if menu_member}}<span class="sr-only">(current)</span>{{/if}}</a>
          <ul class="dropdown-menu">
            <li><a href="{{baseUrl}}member/professor">指導教授</a></li>
            <li><a href="{{baseUrl}}member/student">學生</a></li>
            <li><a href="{{baseUrl}}member/alumni">學成下山</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">榮譽事蹟 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">獲獎</a></li>
            <li><a href="#">實習</a></li>
            <li><a href="#">交換學生</a></li>
            <li><a href="#">國外短期研究</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">相關資源 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">相關技術文件</a></li>
            <li><a href="#">相關期刊</a></li>
            <li><a href="#">相關研討會</a></li>
            <li><a href="#">推薦部落格</a></li>
            <li><a href="#">可申請獎項</a></li>
          </ul>
        </li>
        <li><a href="#">聯絡我們</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

