@charset "UTF-8";
.brand {
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px; }
  .brand a {
    color: #fff; }
  .brand a:hover {
    opacity: .8;
    color: #fff; }
  .brand:first-of-type {
    font-size: 60px;
    margin-top: 10px; }
  @media (max-width: 767px) {
    .brand {
      display: none; } }

.navbar {
  background: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 0; }
  .navbar .container-fluid {
    height: 70px; }
  .navbar .nav-flag {
    border: 1px solid gainsboro;
    position: absolute;
    left: calc(50% - 25px);
    font-size: 12px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    width: 50px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    color: #CE5024;
    visibility: hidden; }
    .navbar .nav-flag:hover {
      opacity: 0.8; }
  .navbar.navbar-fixed-top {
    margin: 0; }
    .navbar.navbar-fixed-top .nav-flag {
      visibility: visible; }
    .navbar.navbar-fixed-top .navbar-brand {
      display: inline-block;
      margin: 7px 0 0; }
  @media (max-width: 767px) {
    .navbar {
      margin-top: 0;
      padding: 0 20px; } }

.navbar .navbar-brand {
  display: none;
  font-weight: bold;
  position: absolute;
  right: 87%;
  padding: 12px 15px; }
  .navbar .navbar-brand img {
    height: 40px;
    margin-top: -5px;
    display: inline-block; }
  @media (max-width: 1270px) {
    .navbar .navbar-brand .navbar-brand-text {
      display: none; } }
  @media (max-width: 767px) {
    .navbar .navbar-brand {
      display: inline-block;
      padding-left: 0;
      position: initial; }
      .navbar .navbar-brand .navbar-brand-text {
        display: inline-block; } }

@media (max-width: 767px) {
  .navbar .navbar-header {
    height: 70px; }
    .navbar .navbar-header > a {
      margin: 10px 0; }
    .navbar .navbar-header > button:not(.nav-flag) {
      margin: 18px 15px; }
    .navbar .navbar-header > button.nav-flag {
      padding: 0;
      margin: 0; } }

.navbar .navbar-collapse {
  padding: 10px 13% 0;
  text-align: center; }
  .navbar .navbar-collapse .navbar-nav {
    width: max-content;
    float: none;
    display: inline-block; }
    .navbar .navbar-collapse .navbar-nav li.active > a,
    .navbar .navbar-collapse .navbar-nav li > a:hover,
    .navbar .navbar-collapse .navbar-nav li > a:focus {
      background: transparent;
      color: #CE5024; }
  .navbar .navbar-collapse .dropdown-menu {
    border: none; }
  @media (max-width: 767px) {
    .navbar .navbar-collapse {
      position: absolute;
      left: 15px;
      text-align: left;
      padding: 0 20px;
      background: rgba(255, 255, 255, 0.8);
      width: 100%; } }

.block#footer {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 50px; }
  .block#footer img {
    display: inline-block;
    height: 50px; }

@font-face {
  font-family: 'NotoSansCJKtc-Regular';
  src: url("/static/font/NotoSansCJKtc-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/static/font/glyphicons-halflings-regular.woff") format("woff"); }

html, body {
  color: #515151;
  font-family: 'NotoSansCJKtc-Regular', 'Noto Sans', "\5FAE\8EDF\96C5\9ED1", "Microsoft YaHei", Helvetica, 'sans-serif';
  font-size: 18px;
  background-image: url("/static/images/bg.jpg");
  background-color: grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

h2 {
  text-align: center; }

a {
  color: #CE5024; }
  a:hover {
    color: #CE5024;
    opacity: 0.8;
    text-decoration: none; }

blockquote {
  background: rgba(255, 255, 255, 0.8); }

.container-fluid {
  padding: 0; }

.block {
  background: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: 20px auto;
  padding: 30px 35px; }
  @media (max-width: 767px) {
    .block {
      width: 100%; } }

.title {
  text-align: center; }

.subtitle {
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 20px 0 10px; }

@keyframes enableOpenList {
  0% {
    opacity: .2; }
  100% {
    opacity: 1; } }

.list-content {
  padding: 5px 20px;
  display: none;
  animation-name: enableOpenList;
  animation-timing-function: ease-out;
  animation-duration: 1s; }
  .list-content.active {
    display: block; }
  .list-content .date {
    font-weight: bold; }
  .list-content .type {
    color: red; }

.comment {
  font-size: 16px;
  color: #5d5d5d; }

ol, ul {
  padding-left: 25px; }

p, li {
  line-height: 2; }

hr {
  max-width: 400px;
  border-color: #999; }

.list-content > hr {
  margin-top: 30px;
  margin-bottom: 40px; }

ul.enableOpen {
  list-style-type: none;
  padding-left: 0; }
  ul.enableOpen > li {
    font-size: 20px;
    cursor: pointer;
    color: #CE5024; }
    ul.enableOpen > li.active::before {
      content: "\E259    "; }
    ul.enableOpen > li::before {
      font-family: 'Glyphicons Halflings';
      content: "\E258    ";
      font-size: 14px;
      color: #515151; }
    ul.enableOpen > li:hover {
      opacity: .8; }

ol > li ol {
  list-style-type: lower-alpha; }

#nav-tabs {
  overflow: scroll;
  height: 58px;
  margin: 0 12.5% -20px; }
  #nav-tabs.nav-tabs-fixed-top {
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 1100; }
    #nav-tabs.nav-tabs-fixed-top ul {
      margin-top: 0; }
  #nav-tabs .nav-tabs {
    width: max-content;
    height: 48px;
    margin: 10px 0 0;
    border-bottom: none; }
    #nav-tabs .nav-tabs > li.active > a,
    #nav-tabs .nav-tabs > li > a:hover {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.8); }
    #nav-tabs .nav-tabs > li > a:focus,
    #nav-tabs .nav-tabs > li.toTop > a {
      background: transparent;
      border: none;
      color: #CE5024; }
    #nav-tabs .nav-tabs.navbar-fixed-top {
      margin: 0;
      background: rgba(0, 0, 0, 0.1); }
    #nav-tabs .nav-tabs li.toTop {
      float: right; }
      #nav-tabs .nav-tabs li.toTop > a::before {
        font-family: 'Glyphicons Halflings';
        content: "\E253"; }
  @media (max-width: 767px) {
    #nav-tabs {
      margin: 0 0 -20px 0; }
      #nav-tabs.nav-tabs-fixed-top {
        margin-left: 60px; } }

#home-container #visitor {
  text-align: center; }
  #home-container #visitor img {
    width: 70%; }
    @media (max-width: 767px) {
      #home-container #visitor img {
        width: 100%; } }

#home-container #content-2 ul > hr {
  width: 30%;
  border: 0;
  border-bottom: 1px dashed #ccc; }

#home-container #content-2 .que {
  font-weight: bold;
  line-height: 1.8em;
  margin-top: 20px; }

#home-container #content-2 .ans {
  line-height: 1.8em;
  margin-bottom: 20px; }

#home-container #content-2 .conversation {
  font-style: italic;
  max-width: 500px; }

#research-container #project div h3 {
  margin: 30px 0 20px;
  font-weight: bold; }

#research-container #project ol {
  display: flex;
  flex-direction: column-reverse; }
  #research-container #project ol > li {
    margin: 5px 0;
    padding-left: 5px;
    flex: 0 0 auto; }

#prof-container h3 {
  text-align: center; }

#prof-container .block li {
  padding: 5px 0; }

#member-container h3.sub-title:not(:first-child) {
  margin-top: 50px; }

#member-container .member-row:not(:first-child) {
  margin-top: 20px; }

#member-container .photo {
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    #member-container .photo {
      margin-top: 30px; } }

@media (max-width: 767px) {
  #member-container .comment {
    margin: 0 20px; } }

#member-container .comment > div {
  padding: 5px 10px; }
  #member-container .comment > div:first-of-type {
    font-weight: bold;
    text-align: right;
    padding: 5px; }
    @media (max-width: 767px) {
      #member-container .comment > div:first-of-type {
        text-align: left; }
        #member-container .comment > div:first-of-type::after {
          content: ": "; } }

#resource-container .block li {
  margin: 20px 0; }

#resource-container .table {
  font-size: medium; }

#resource-container .table > thead > tr > th {
  vertical-align: middle; }

#resource-container .table > tbody > tr > td {
  vertical-align: middle; }

#resource-container .table > tbody > tr:hover > td:not(.td-title) {
  cursor: pointer;
  color: brown;
  opacity: .8;
  background: rgba(255, 255, 255, 0.8); }

#resource-container .table > tbody > tr.row-inverse {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(255, 255, 255, 0.8); }

#resource-container .deleted {
  text-decoration: line-through; }

#resource-container .highlight {
  color: red; }

#contact-container .block .row {
  margin: 10px 0; }
  #contact-container .block .row > .col-md-2 {
    font-weight: bold;
    text-align: right; }
    @media (max-width: 767px) {
      #contact-container .block .row > .col-md-2 {
        text-align: left; } }

