<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/layout.css" />
    <style> .block li { padding: 5px 0; } </style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="block row">
        <div class="col-xs-5" style="text-align:center">
          <img src="{{baseUrl}}images/tsaimh.jpg" style="width:200px" />
        </div>
        <div class="col-xs-7">
          <h3 class="subtitle"><a href="http://imslab.org/~tsaimh/" target="_blank">蔡孟勳 (Meng-Hsun Tsai)</a></h3>
          <ul><li>Computer Science and Information Engineering, NCKU,<br/> No. 1, University Road, Tainan 701, Taiwan</li>
              <li>Tel: +886-6-275-7575 ext.62518</li>
              <li>Fax: +886-6-2747076</li>
              <li>E-mail: tsaimh AT csie DOT ncku DOT edu DOT tw</li></ul>
        </div>
      </div> <!-- /.block -->
      <div class="block">
        <hr><h3 class="title">Education</h3><hr>
        <ul><li>2004 ~ 2009: Ph.D., Computer Science, National Chiao Tung University</li>
            <li>2002 ~ 2004: M.S., Computer Science & Information Engineering, National Chiao Tung University</li>
            <li>1998 ~ 2002: B.S., Computer Science & Information Engineering, National Chiao Tung University</li></ul>
      </div> <!-- /.block -->
      <div class="block">
        <hr><h3 class="title">Work Experience</h3><hr>
        <ul><li>Associate Professor, Computer Science & Information Engineering, National Cheng Kung University, Tainan, Taiwan (2017/2 - present)</li>
        <ul><li>Assistant Professor, Computer Science & Information Engineering, National Cheng Kung University, Tainan, Taiwan (2010/9 - 2017/1)</li>
            <li>Visiting Scholar in USC, Los Angeles, U.S.A., (2012/7 - 2012/9)</li>
            <li>Summer Intern in IBM, Taipei, (2008/7 - 2008/12)</li>
            <li>Summer Intern in Otto-von-Guericke-University Magdeburg, Germany, (2006/7 - 2006/9)</li></ul>
      </div> <!-- /.block -->
      <div class="block">
        <hr><h3 class="title">Research Interests</h3><hr>
        <ul><li>Internet of Things (IoT)</li>
            <li>Software Defined Network (SDN)</li>
            <li>Design and Analysis of Mobile Network (GSM/UMTS/LTE/LTE-A)</li>
            <li>Performance Evaluation</li>
            <li>Voice over IP (VoIP) Network</li></ul>
      </div> <!-- /.block -->
    </div> <!-- /.container-fluid -->
    {{> footer }}
  </body>
</html>
