<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/layout.css" />
    <style>
.block .row { margin: 10px 0; }
.block .row > .col-md-2 { font-weight: bold; }
    </style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="block row">
        <div class="col-md-4"><img style="width:100%" src="{{baseUrl}}images/logo.png"/></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">電話</div>
            <div class="col-md-10">+886-6-275-7575 ext.62520-67</div>
          </div>
          <div class="row">
            <div class="col-md-2">E-mail</div>
            <div class="col-md-10"><a href="mailto:imslab@imslab.org">imslab@imslab.org</a></div>
          </div>
          <div class="row">
            <div class="col-md-2">地址</div>
            <div class="col-md-10">
              701 台南市大學路 1 號 國立成功大學 成功校區 資訊系館 65A04 室<br/>
              (<a href="https://www.google.com/maps/dir//22.9975457,120.2213674/@22.99731,120.221694,16z/data=!4m3!4m2!1m0!1m0?hl=zh-TW" target="_blank">Google 導航</a>)<br/>
            </div>
          </div>
        </div>
        <iframe class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7957.577065589122!2d120.2178912995086!3d22.997032090757614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjLCsDU5JzQ5LjYiTiAxMjDCsDEzJzE3LjAiRQ!5e1!3m2!1szh-TW!2sus!4v1401338254646" width="100%" height="450" frameborder="0" style="border:0"></iframe>
      </div> <!-- /.block -->
    </div> <!-- /.container-fluid -->
    {{> footer }}
  </body>
</html>


