<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/home.css" />
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="block">
        <hr><h3 class="title">徵求學生!</h3><hr>
        <p>徵求對 行動網路 (4G/5G)、物聯網 (IoT)、軟體定義網路 (SDN) 及 網路分析理論 有興趣之 專題生、碩士生及博士生</p>
      </div> <!-- /.block -->
      <div class="block">
        <hr><h3 class="title">必看</h3><hr>
        <ul><li><a href="#">找老師寫推薦信注意事項(大四甄試研究所適用)</a></li>
            </ul>
      </div> <!-- /.block -->
      <div class="block">
        <hr><h3 class="title">最新消息</h3><hr>
        <ul class="enableOpen">
          <li>2017</li>
          <li>2016</li>
          <li>2015</li>
        </ul>
      </div> <!-- /.block -->
    </div> <!-- /.container-fluid -->
    {{> footer }}
    <script src="./js/home.js"></script>
  </body>
</html>
